#map {
    height: 80%;
    width: 80%;
}

.column-left {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.column-right {
    padding: 2% 5%;
}

.column-center {
    padding: 0% 5%;
    text-align: center;
}

.sources-header {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.main-row {
    padding-top: 7%;
}

.custom-nav {
    padding-left: 5%;
    padding-right: 5%;
}

.charts {
    padding-top: 2%;
    text-align: center;
}

/*  TODO different padding for different resolutions */
.headline {
    padding: 35px 5% 2%;
    text-align: center;
}